*{
    box-sizing: border-box;
  }

  
body {
    background-color: black;
    color: white;
}

/* header */
div#header {
  display: flex;
  justify-content: space-between;
  margin: 20px 5px;
  font-size: 16px;
  color: #dede7d;
}
div#s1 {
  font-size: 25px;
  font-weight: 700;
  margin: 13px 0px 0px 11px;
  height: 37px;
  padding-top: 10px;
}
div#s2 {
  height: 36px;
  padding-top: 6px;
  margin: 0px auto;
  width: 80%;
  display: flex;
}

/* search */
input#site-search {
  width: 100%;
  background-color: #7b7979;
  border-radius: 7px 0px 0px 7px;
  color: white;
}
input#site-search::placeholder {
  color: white;
}

button#searchButton {
  height: 27px;
  width: auto;
  margin: 3px -2px;
  background-color: #7b7979;
  border: none;
  color: white;
  border-radius: 0px 7px 7px 0px;
}

/* pin */
div#p1 {
  height: auto;
  margin: 14px 15px;
  font-size: 18px;
  font-weight: 900;
}

/* 過去7日間 */
div#l1 {
  height: auto;
  margin: 14px 15px;
  font-size: 18px;
  font-weight: 900;
}
/* class内 */
div#l2 {
  width: 80%;
  height: 440px;
  background-color: #7b7979;
  border-radius: 7px;
  margin: 0 auto;
  line-height: 1.5;
  overflow: auto;
}
/* スクロールバー非表示 */
div#l2::-webkit-scrollbar{
  display:none;
}

.memo {
  border-top: 1px solid white;
}

.memo:first-child {
  border-top: none;
}

/* メモ表示欄 */
.display {
  display: flex;
  justify-content: left;
}
/* title */
.title {
  font-size: 16px;
  font-weight: 600;
}
/* 日付 */
span.date {
  margin: 0 16px 0 0px;
}
/* text */
span.text {
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
}




/* footer */
div#footer {
  height: 30px;
  background-color: #1f1e1e;
  padding-top: 9px;
  text-align: center;
  font-size: 12px;
  position: fixed;
  bottom: 5px;
  width: 100%;
}
/* 新規作成 */
span#f2 {
  color: #dede7d;
  cursor: pointer;
}

span#f2:hover {
  opacity: 0.5;
}



/* input.php */
/* ◁メモ */
span#back {
  padding-top: 6px;
  cursor: pointer;
}
span#back:hover {
  opacity: 0.7;
}


/* 完了 */
input[type="submit"] {
  color: #dede7d;
  background-color: black;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  opacity: 0.7;
}

/* タイトル */
input[type="text"] {
  background-color: black;
  font-size: 22px;
  width: 100%;
  height: auto;
  margin: 5px 0;
  color: white;
  caret-color: #dede7d;
}
/* text */
textarea#text {
  background-color: black;
  font-size: 22px;
  width: 100%;
  height: auto;
  margin: 5px 0;
  color: white;
  caret-color: #dede7d;
  }